trunk/Website/WebAppCode/QueryLayer/WebAppCode/EPRTRweb/XML/Lookups.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="phrases">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="phrase">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="classification_id" type="xs:string" use="optional" />
                <xs:attribute name="s_phrase_id" type="xs:string" use="optional" />
                <xs:attribute name="r_phrase_id" type="xs:string" use="optional" />
                <xs:attribute name="clp_phrase_id" type="xs:string" use="optional" />
                <xs:attribute name="ghs_phrase_id" type="xs:string" use="optional" />
                <xs:attribute name="id" type="xs:string" use="optional" />
                <xs:attribute name="groupId" type="xs:string" use="optional" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>