tags/original_trunk/AuthenticationChecker/AuthenticationChecker/Service References/LDAPAuthenticationService/services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://eea.europa.eu/Services" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://eea.europa.eu/Services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://eea.europa.eu/Services">
      <s:element name="SqlExecute">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="server" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="database" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SqlExecuteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SqlExecuteResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LDAPAuthenticationCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LDAPPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Role" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LDAPAuthenticationCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LDAPAuthenticationCheckResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XmlRouter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XmlRouterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XmlRouterResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SqlExecuteSoapIn">
    <wsdl:part name="parameters" element="tns:SqlExecute" />
  </wsdl:message>
  <wsdl:message name="SqlExecuteSoapOut">
    <wsdl:part name="parameters" element="tns:SqlExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="LDAPAuthenticationCheckSoapIn">
    <wsdl:part name="parameters" element="tns:LDAPAuthenticationCheck" />
  </wsdl:message>
  <wsdl:message name="LDAPAuthenticationCheckSoapOut">
    <wsdl:part name="parameters" element="tns:LDAPAuthenticationCheckResponse" />
  </wsdl:message>
  <wsdl:message name="XmlRouterSoapIn">
    <wsdl:part name="parameters" element="tns:XmlRouter" />
  </wsdl:message>
  <wsdl:message name="XmlRouterSoapOut">
    <wsdl:part name="parameters" element="tns:XmlRouterResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicesSoap">
    <wsdl:operation name="SqlExecute">
      <wsdl:input message="tns:SqlExecuteSoapIn" />
      <wsdl:output message="tns:SqlExecuteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LDAPAuthenticationCheck">
      <wsdl:input message="tns:LDAPAuthenticationCheckSoapIn" />
      <wsdl:output message="tns:LDAPAuthenticationCheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XmlRouter">
      <wsdl:input message="tns:XmlRouterSoapIn" />
      <wsdl:output message="tns:XmlRouterSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicesSoap" type="tns:ServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SqlExecute">
      <soap:operation soapAction="http://eea.europa.eu/Services/SqlExecute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LDAPAuthenticationCheck">
      <soap:operation soapAction="http://eea.europa.eu/Services/LDAPAuthenticationCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XmlRouter">
      <soap:operation soapAction="http://eea.europa.eu/Services/XmlRouter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Services">
    <wsdl:port name="ServicesSoap" binding="tns:ServicesSoap">
      <soap:address location="http://dataconnector.eea.europa.eu/soapservices/services.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>