trunk/Website/WebAppCode/Test/PerformanceTester/TestRunData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="T_Threads">
		<xs:sequence>
			<xs:element ref="Thread" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ThreadRef" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_Thread">
		<xs:sequence>
			<xs:element ref="Tasks"/>
		</xs:sequence>
		<xs:attribute ref="name" use="required"/>
		<xs:attribute ref="Id"/>
		<xs:attribute ref="ThreadCopies"/>
	</xs:complexType>
	<xs:complexType name="DatabaseJob" mixed="true">
		<xs:sequence>
			<xs:element ref="Parameters" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute ref="executionString" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_Parameters">
		<xs:sequence>
			<xs:element ref="Parameter" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_Parameter">
		<xs:attribute ref="value" use="required"/>
		<xs:attribute ref="name" use="required"/>
		<xs:attribute ref="valueType"/>
	</xs:complexType>
	<xs:complexType name="T_Jobs">
		<xs:sequence>
			<xs:element ref="Job" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute ref="executionTime" use="required"/>
		<xs:attribute ref="commandTimeout" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_Job">
		<xs:sequence>
			<xs:element ref="Threads"/>
		</xs:sequence>
		<xs:attribute ref="name" use="required"/>
		<xs:attribute ref="speedCategory"/>
	</xs:complexType>
	<xs:attribute name="value">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="name">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="executionString">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:attribute>
	<xs:element name="Threads" type="T_Threads"/>
	<xs:element name="Thread" type="T_Thread"/>
	<xs:element name="StoredProcedure" type="DatabaseJob"/>
	<xs:element name="Parameters" type="T_Parameters"/>
	<xs:element name="Parameter" type="T_Parameter"/>
	<xs:element name="Jobs" type="T_Jobs"/>
	<xs:element name="Job" type="T_Job"/>
	<xs:attribute name="Id" type="xs:integer"/>
	<xs:element name="ThreadRef" type="T_ThreadRef"/>
	<xs:complexType name="T_ThreadRef">
		<xs:attribute ref="Id" use="required"/>
		<xs:attribute ref="ThreadCopies"/>
	</xs:complexType>
	<xs:attribute name="speedCategory">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="FAST"/>
				<xs:enumeration value="NORMAL"/>
				<xs:enumeration value="SLOW"/>
				<xs:enumeration value="VERY SLOW"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="valueType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="int"/>
				<xs:enumeration value="string"/>
				<xs:enumeration value="double"/>
				<xs:enumeration value="datetime"/>
				<xs:enumeration value="decimal"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:element name="Tasks">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="StoredProcedure" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Script" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Script" type="DatabaseJob"/>
	<xs:attribute name="executionTime" type="xs:int"/>
	<xs:attribute name="commandTimeout" type="xs:int"/>
	<xs:attribute name="ThreadCopies" type="xs:int"/>
</xs:schema>
